<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CompanyX | Pave Your Path to Success |  Elevate your ambitions with a strategic job application for roles available. Showcasing a blend of skills and dedication, I aim to contribute meaningfully to CompanyX's dynamic team. Join me on this journey of innovation. Discover how I can make a difference in IT specific industry—Apply Now and unlock a promising future at CompanyX.</title>
    <link rel="shortcut icon" href="/public/jobapplylogo.png">
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div class="headerandherobg">
        <header>
            <div class="gridlayout">
                <div class="headerdiv">
                    <div class="companyname">
                        <img src="/public/jobapplylogo.png" alt="cant view">
                        <h1>CompanyX</h1>
                    </div>
                    <div class="headeroptions">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="#lifeatsection">About</a></li>
                            <li><a href="#footersection">Contact</a></li>
                        </ul>
                        <a href="/form"><button>Join Our Team</button></a>
                    </div>
                </div>
            </div>
        </header>
        <section>
            <div class="gridlayout">
                <div class="herocontentdiv">
                    <div class="herocontentleft">
                        <h1>"Innovative, Sustainable, Visionary, Dynamic, Transformative."</h1>
                    <p>Explore exciting career opportunities at CompanyX, where innovation meets passion for a sustainable future.</p>
                    <a href="/form"><button>Find Jobs</button></a>
                </div>
                    <img src="/public/jobheroimg.png">
                </div>
            </div>
        </section>
    </div>
    <section id="lifeatsection">
        <div class="gridlayout">
            <div class="lifeatdiv">
                <img src="/public/lifeatpic.png">
                <div class="lifeatright">
                    <h3>LIFE AT CompanyX</h3>
                    <h1>Build your career with us</h1>
                    <p>At CompanyX, a thriving community of over 5000 dedicated professionals collaborates passionately to drive innovation and shape a sustainable future. Our diverse workforce fuels a dynamic environment, fostering creativity and excellence. Join us in this collective journey where every individual contributes to the success and growth of our global family. Be a part of CompanyX and make a meaningful impact, as together, we redefine possibilities and build a brighter tomorrow.</p>
                </div>
            </div>
        </div>
    </section>
    <section id="industrysection">
        <h1>Recommended by leading industry experts</h1>
        <img src="/public/industry.png">
    </section>
    
    <footer id="footersection">
        <div class="gridlayout">
            <div class="footercontent">
                <div class="locations">
                    <h2>We are Here!</h2>
                    <p>2118 Thornridge Cir. Syracuse, Connecticut 35624</p>
                    <p>2464 Royal Ln. Mesa, New Jersey 45463</p>
                </div>
                <div class="links">
                    <h2>Useful Links</h2>
                    <ul>
                        <a href="/form"><li>Careers</li></a>
                        <a href="#lifeatsection"><li>About</li></a>
                        <a href="#industrysection"><li>Recommennded Industries</li></a>
                    </ul>
                </div>
                <div class="contactinfo">
                    <h2>Contacts</h2>
                    <p>Call us: 1234567890</p>
                    <p>Email: companyx@gmail.com</p>
                </div>
                <div class="subscribe">
                    <h2>Subscribe Us</h2>
                    <input type="email" placeholder="Enter your Email">
                    <a>&#9010;</a>
                </div>
            </div>
            <hr style="color: white;">
            <h5>Copyrights 2024 | All rights reserved.</h5>
        </div>
    </footer>
    
</body>
</html>