<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CompanyX | Pave Your Path to Success |  Elevate your ambitions with a strategic job application for roles available. Showcasing a blend of skills and dedication, I aim to contribute meaningfully to CompanyX's dynamic team. Join me on this journey of innovation. Discover how I can make a difference in IT specific industry—Apply Now and unlock a promising future at CompanyX.</title>
    <link rel="shortcut icon" href="/public/jobapplylogo.png">
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <section>
        <div class="gridlayout">
            <div class="backbtn">
                <a href="/form"><img src="/public/backimg.png"></a>
            </div>
            <div class="thanksdiv">
                <img src="/public/tqpic.png" alt="...">
                <h1>Thank you for applying to CompanyX!</h1>
                <h3>Your journey with us has begun, and we'll be in touch soon to explore the next steps in your exciting career path.</h3>
                <a href="/"><button>Back to home</button></a>
            </div>
        </div>
    </section>
</body>
</html>